name: Create Pre-release
on:
  push:
    branches:
      - master

jobs:
  createPrerelease:
    name: Create Pre-release
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: microsoft/sarif-vscode-extension
          fetch-depth: 10
      # - uses: ./.github/workflows/bumpPrerelease
      - run: git log --oneline
